#topbar
{
  padding:20px;
  margin:5px 0px 20px 0px;
}

#topbar i{
  font-size: 60px;
}

.sidebar
{
  padding: 10px;
}

.sidebar > div{
  margin:20px;
}

.gmail
{
  display:none;
}



.sidebar > div >div{
  padding: 10px 10px 10px 0px;
}
.sidebar > div >div:hover
{
  background-color:grey;
  cursor: pointer;
}



