#topbar
{
  padding:20px;
  margin:5px 0px 20px 0px;
  background-color: #141E61;
}

#topbar i{
  font-size: 60px;
  color:#EEEEEE;
}

#username
{
  color:#EEEEEE;
  font-size: medium;
}


.sidebar
{
  padding: 10px;
}

.sidebar > div{
  margin:20px;
}

.gmail
{
  display:none;
}

#login > h1
{
  padding-top: 50px;
}



.labels > div > img{
  padding-right: 10px;
}

.labels > div{
  font-size: medium;
}


.sidebar > div >div{
  padding: 10px 10px 10px 0px;
}
.sidebar > div >div:hover
{
  background-color:#EEEEEE;
  cursor: pointer;
}



